{% extends "map-option-base.html" %}
{% block content %}

<div class="container-fluid">
<br>
<div class="row justify-content-center">
    <form action="" method="post" name="Add_item">
        {{ form.hidden_tag() }}
        <div class="form-group">
                <p>Give new user access to edit:</p><br>
                </div>
        <div class="form-group">
            <label for="userInput">{{form.username.label}}</label><br>
        {{form.username}}
        {% for error in form.username.errors %}
            </br><span style="color: red;">{{error}}</span>
        {% endfor %}<br>
        </div>

        
        <div class="row justify-content-center">

        <button type="submit" class="btn btn-primary btn-sm">Add User</button>
        </div>
    </form>
    {% endblock %}
    </div>
</div>