{% extends "map-option-base.html" %}
{% block content %}

<div class="container-fluid">
<br>
<div class="row justify-content-center">
    <form action="" method="post" name="Add_item">
        {{ form.hidden_tag() }}
        <div class="form-group">
                <p>Create New Marker:</p>
                </div>
        <div class="form-group">
            <label for="titleInput">{{form.title.label}}</label><br>
        {{form.title}}
        {% for error in form.title.errors %}
            </br><span style="color: red;">{{error}}</span>
        {% endfor %}<br>
        </div>
        <div class="form-group">
            <label for="latInput">{{form.lat.label}}</label><br>
            {{ form.lat }}
            {% for error in form.lat.errors %}
            </br><span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </div>
        <div class="form-group">
            <label for="lngInput">{{form.lng.label}}</label><br>
            {{ form.lng }}
            {% for error in form.lng.errors %}
            </br><span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </div>
        <div class="form-group">
            <label for="descriptioninput">{{form.comment.label}}</label><br>
            {{ form.comment }}
            {% for error in form.comment.errors %}
            </br><span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </div>
        
        <div class="row justify-content-center">

        <button type="submit" class="btn btn-outline-primary btn-sm">Add Marker</button>
        </div>
    </form>
    {% endblock %}
    </div>
</div>