{% extends "create-map-base.html" %}
{% block content %}

<div class="container-fluid">
<br>
<div class="row justify-content-center">
    <form action="" method="post" name="Add_item">
        {{ form.hidden_tag() }}
        <div class="form-group">
                <p>Create New Map:</p>
                </div>
        <div class="form-group">
            <label for="titleInput">{{form.title.label}}</label><br>
        {{form.title}}
        {% for error in form.title.errors %}
            </br><span style="color: red;">{{error}}</span>
        {% endfor %}<br>
        </div>
        <div class="form-group">
            <label for="descriptionInput">{{form.description.label}}</label><br>
            {{ form.description }}
            {% for error in form.description.errors %}
            </br><span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </div>
        
        <div class="row justify-content-center">

        <button type="submit" class="btn btn-outline-primary btn-sm">Create Map</button>
        </div>
    </form>
    {% endblock %}
    </div>
</div>