
{% extends "map-base.html" %}
{% block content %}
<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
      height: 600px;
      /* The height is 400 pixels */
      width: 75%;
      /* The width is the width of the web page */
    }
  </style>
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      const London = { lat:51.50853, lng: -0.12574 };
      const leeds = { lat: 53.79648, lng: -1.54785 };
      // The map, centered at Uluru
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 4,
        center: leeds,
        
      });
      // The marker, positioned at Uluru
      const marker = new google.maps.Marker({
        position: London,
        map: map,
        label: '1',
      });
      const marker2 = new google.maps.Marker({
        position: leeds,
        map: map,
        label: '2'
      });
    }
  </script>
  <br />
  <div id="map"></div>
{% endblock %}