
{% extends "map-base.html" %}
{% block content %}
<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
      height: 600px;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }
    .custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 25px;
  font: 400 12px Roboto, Arial, sans-serif;
  overflow: hidden;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

  </style>
  {% block javascript %}
   <script>

    // Initialize and add the map
    let map, infoWindow;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 53.79648, lng: -1.54785 },
        zoom: 4,
      });
        {% for m in map.markers %} //list all requred markers
          const infowindow{{loop.index}} = new google.maps.InfoWindow({
            content: '<div><h6>{{m.title}}</h6><p>{{m.comment}}</p></div>',
          });
          const marker{{loop.index}} = new google.maps.Marker({
            position: { lat:{{m.lat}}, lng:{{m.lng}} },
            map: map,
            label: '{{loop.index}}',
          });
          marker{{loop.index}}.addListener("click", () => {
            infowindow{{loop.index}}.open(map, marker{{loop.index}});
          });
        {% endfor %}
      infoWindow = new google.maps.InfoWindow();
      const locationButton = document.createElement("button");
      locationButton.textContent = "Find current Location";
      locationButton.classList.add("custom-map-control-button");
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
      locationButton.addEventListener("click", () => { //if button is pressed
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            (position) => {
              const pos = { // ser info window to appear at current locations coordinates
                lat: position.coords.latitude,  
                lng: position.coords.longitude,
              };
              infoWindow.setPosition(pos);
              infoWindow.setContent("You are here");
              infoWindow.open(map);
              map.setCenter(pos);
            },
            () => {
              handleLocationError(true, infoWindow, map.getCenter());
            }
          );
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
      })
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) { //if geo loaction is not possible
      infoWindow.setPosition(pos);
      infoWindow.setContent(
        browserHasGeolocation
          ? "Error: The Geolocation service failed."
          : "Error: Your browser doesn't support geolocation."
      );
      infoWindow.open(map);
    }


  </script>
  {% endblock%}
  <div class="my-3 p-3 bg-white rounded shadow-sm" href=>
      <div class="d-flex justify-content-between align-items-center w-100">
          <h6>{{map.title}}</h6>
          <p></p>
          <p></p>
          <div>
              <a class="btn btn-sm btn-primary" href="/addMarker/{{map.id}}" role="button">Add Marker</a>
              <a class="btn btn-sm btn-primary" href="/addUser/{{map.id}}" role="button">Collaborate</a>
          </div>
        </div>
    <div class="media text-muted pt-3" >
        <div class="media-body pb-3 mb-0 small lh-125">
            <span class="d-block">{{map.description}}</span>
      </div>
    </div>
  </div>
  <div class="container-fluid align-items-center w-100">
    <div id="map"></div></div>
  <div class="my-3 p-3 bg-white rounded shadow-sm" href=>
    {% for m in map.markers %}
    <div class="media text-muted pt-3" >
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-end w-100">
                <a><strong class="d-block text-gray-dark" >{{loop.index}}. {{m.title}}</strong></a>
                
                <div>Lat: {{'%g' % m.lat}} Lng: {{'%g' % m.lng}} <small><a href="/remove/{{map.id}}/{{m.id}}"> Remove</a></small></div>
              </div>
              <span class="d-block">{{m.comment}}</span>
      </div>
    </div>
    {% endfor%}
  </div>
{% endblock %}