<!DOCTYPE html>
<html>
  <head>
    <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Waypoints</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFjewwBbtIVlBU5pMB_Z1kjuMuXRjBFqQ&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
  </head>
  <body>
      <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
      <script>
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#252e39"
          },
          "button": {
            "background": "#14a7d0"
          }
        }
      });
      </script>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
          <img src="https://img.icons8.com/carbon-copy/100/000000/map-pin.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Waypoints
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/myMaps">My Maps<span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/signOut">Sign Out</a>
                      </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/settings">Settings</a>
                    </li>
                </ul>            
            </span>
          </div>
    </nav>
  <main>
    <div class="container-fluid">
        {% block content %}{% endblock %}

    </div>
    <nav class="navbar fixed-bottom bg-white">
        <footer class="page-footer font-small light bg-white">
          <div class="container text-center bg-white">
            <small><a href="https://icons8.com/icon/1XwhQkoNScKa/map-pin">Map Pin icon by Icons8</a></small>
          </div>
        </footer>
      </nav>

  </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>