
{% extends "my-maps-base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center w-100">
    <a href=""><strong class="d-block text-gray-dark" ></strong></a>
    <p></p>
    <p></p>
    <a class="btn btn-sm btn-primary mt-2" href="/createMap" role="button">New Map</a>
  </div>
</div>
  <div class="my-3 p-3 bg-white rounded shadow-sm" href=>
    <h6 class="border-bottom border-gray pb-2 mb-0">Created by me</h6>
    {% for m in maps %}
    {% if m.createdBy is eq username %}
    <div class="media text-muted pt-3" >
        
        <img src="https://img.icons8.com/carbon-copy/100/000000/map-pin.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <a href="maps/{{m.id}}"><strong class="d-block text-gray-dark" >{{m.title}}</strong></a>
                <p></p>
                <p>Waypoints: {{m.markers.count()}}</p>
                <p>Last edited: {{m.DateModified.date()}}</p>
              </div>
              <span class="d-block">{{m.description}}</span>
      </div>
    </div>
    {% endif %}
    {% endfor%}
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Shared with me</h6>
      {% for m in maps %}
      {% if m.createdBy is ne username %}
      <div class="media text-muted pt-3" >
        
          <img src="https://img.icons8.com/carbon-copy/100/000000/map-pin.png" width="30" height="30" class="d-inline-block align-top" alt="">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <div class="d-flex justify-content-between align-items-center w-100">
                  <a href="maps/{{m.id}}"><strong class="d-block text-gray-dark" >{{m.title}}</strong></a>
                  <p>Creator: {{m.createdBy}}</p>
                  <p>Waypoints: {{m.markers.count()}}</p>
                  <p>Last edited: {{m.DateModified.date()}}</p>
                </div>
                <span class="d-block">{{m.description}}</span>
        </div>
      </div>
      {% endif %}
      {% endfor%}
  </div>

{% endblock %}