{% extends "register-base.html" %}
{% block content %}

<div class="container-fluid">
<br>
<div class="row justify-content-center">
    <form action="" method="post" name="Add_item">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="taskNameInput">{{form.username.label}}</label><br>
        {{form.username}}
        {% for error in form.username.errors %}
            </br><span style="color: red;">{{error}}</span>
        {% endfor %}<br>
        </div>
        <div class="form-group">
            <label for="taskDescriptionInput">{{form.password.label}}</label><br>
            {{ form.password }}
            {% for error in form.password.errors %}
            </br><span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </div>
        <div class="form-group">
            <label for="taskDateInput">{{form.passwordCheck.label}}</label><br>
            {{ form.passwordCheck }}
            {% for error in form.passwordCheck.errors %}
            </br><span style="color: red;">{{error}}</span>
            {% endfor %}<br>
            <small>Already have an account? <a href='/signIn'>Sign In</a></small>
        </div>
        
        <div class="row justify-content-center">

        <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
        </div>
    </form>
    {% endblock %}
    </div>
</div>