
{% extends "settings-base.html" %}
{% block content %}


  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Settings</h6>
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">You are signed in as: {{username}}</strong>
          <a href="\signOut">Sign Out</a>
        </div>

      </div>
    </div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Change Password</h6>
    <div class="media text-muted small pt-3">
      <div class="media-body border-bottom border-gray">
            <p class="text-center text-success">{{message}}</p>
            <div class="row justify-content-center">
                    
            <form action="" method="post" name="Add_item">
                    {{ form.hidden_tag() }}
                    
                    <div class="form-group">
                        <label for="currentPasswordInput">{{form.currentPassword.label}}</label></br>
                    {{form.currentPassword}}
                    {% for error in form.currentPassword.errors %}
                        </br><span style="color: red;">{{error}}</span>
                    {% endfor %}<br>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordInput">{{form.newPassword.label}}</label></br>
                        {{ form.newPassword }}
                        {% for error in form.newPassword.errors %}
                        </br><span style="color: red;">{{error}}</span>
                        {% endfor %}<br>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordCheckInput">{{form.newPasswordCheck.label}}</label></br>
                        {{ form.newPasswordCheck }}
                        {% for error in form.newPasswordCheck.errors %}
                        </br><span style="color: red;">{{error}}</span>
                        {% endfor %}<br>
                    </div>
                    
                    <div class="row justify-content-center">
            
                    <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
                    </div>
                    <div class="form-group"></div>
                </form>
            </div>
            </div>
      </div>
    </div>
    

{% endblock %}