{% extends "sign-in-base.html" %}
{% block content %}

<div class="container-fluid">
<br>
<div class="row justify-content-center">
    <form action="" method="post" name="Add_item">
        {{ form.hidden_tag() }}
        <div class="form-group">
                <p class="text-primary">Sign in to accesss Waypoints</p></br>
        </div>
        <div class="form-group">
            <label for="usernameInput">{{form.username.label}}</label><br>
            {{form.username}}
            {% for error in form.username.errors %}
            </br><span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </div>
        <div class="form-group">
            <label for="passwordInput">{{form.password.label}}</label><br>
            {{ form.password }}
            {% for error in form.password.errors %}
            </br><span style="color: red;">{{error}}</span>
            {% endfor %}<br>
            <small>Don't have an account? <a href='/register'>Sign Up</a></small>
        </div>
        <div class="row justify-content-center">

        <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
        </div>
    </form>
    {% endblock %}
    </div>
</div>